<div class="container">


<p>
  <strong>Artist:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Album name:</strong>
  <%= @album.album_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
<%= render 'shared/flashes'%>
</div>
